@import url('https://fonts.googleapis.com/css?family=Playfair+Display:400,400i,700,700i,900,900i');
@import url('https://fonts.googleapis.com/css?family=Raleway:600');

/* global styles */

body {
  font-family: 'Raleway', sans-serif;
  text-align: center;
  margin: 0;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Playfair Display', serif;
  font-style: italic;
  font-weight: 700;
  color: #4a6d70;
  margin-bottom: .5em;
}

h1 {
  font-size: 3em;
}

p {
  margin-top: 0;
  margin-bottom: 2em;
  font-size: 1.25em;
}

a, a:visited {
  text-decoration: none;
  decoration: none;
  color: inherit;
}

button {
  text-decoration: none;
  border: none;
  outline: none;
  margin-top: 0;
  margin-bottom: 2em;
  font-size: 1.25em;
  padding: .75em 1.5em;
  background: #b83e38;
  color: #fff;
}

button:hover {
  background: #822c28;
}

/* style classes */

.header {
  background: #dffefd;
}

.select {
  height: auto;
  display: block;
  max-width: 60em;
  margin-left: auto;
  margin-right: auto;
}

.select-img {
  display: block;
  position: relative;
  height: 16em;
  width: 100%;
}

.select-img img {
  position: relative;
  display: block;
  top: 50%;
  left: 50%;
  width: auto;
  height: auto;
  max-width: 100%;
  -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
      transform: translate(-50%, -50%);
  border-radius: 100%;
  margin-top: 1em;
  margin-bottom: 2em;
}

.select-img img:hover {
  opacity: .5;
}

.result {
  height: auto;
  display: block;
  margin-left: auto;
  margin-right: auto;
  background: #dffefd;
}

.result-img {
  display: block;
  position: relative;
  height: auto;
  width: 100%;
}

.result-img img {
  position: relative;
  display: block;
  top: 100%;
  left: 50%;
  width: auto;
  height: auto;
  max-width: 100%;
  -webkit-transform: translate(-50%, 0%);
    -ms-transform: translate(-50%, 0%);
      transform: translate(-50%, 0%);
  border-radius: 100%;
  margin-top: 1em;
  margin-bottom: 4em;
}


/***********************
grid
***********************/

*, *:after, *:before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

[class*='col-'] {
	float: left;
	margin-right: 0.25em;
	position: relative;
}

[class*='col-']:last-of-type {
  margin-right: 0;
}

[class*='container-'] {
	width: 100%;
  height: auto;
	margin: 0;
	padding: 0;
	overflow: hidden;
}

[class*='container-']:after {
  content: '';
  display: block;
  clear: both;
}

.row {
	margin: 0 auto;
	padding: 0 1em;
	overflow: hidden;
}

/* screen sizes */

@media (min-width: 320px) {

	.col-sm-2 {
		width: 48.5%;
	}

	.col-sm-4 {
		width: 100%;
	}
}

@media (min-width: 736px) {

	.col-md-1 {
		width: 24.5%;
	}

	.col-md-2 {
		width: 49.25%;
	}

	.col-md-3 {
		width: 74.5%;
	}

	.col-md-4 {
		width: 100%;
	}
}

@media (min-width: 1200px) {

	.col-lg-1 {
		width: 24.5%;
	}

	.col-lg-2 {
		width: 49.5%;
	}

	.col-lg-3 {
		width: 74.5%;
	}

	.col-lg-4 {
		width: 100%;
	}
}
